@charset "UTF-8";

body, html { 
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  margin : 0.8rem;
}
.js-inputTodo {
  width: 90%;
}

#js-todoButton {
  cursor: pointer;
}

#js-qt {
  cursor: pointer; 
}

.hiding {
  display: none;
}

.checkClicked {
  text-decoration: line-through;
  color : gray;
}
/*푸터 시작*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin : 0.8rem;
  color: white;
}

footer button {
  text-align: left;
  background: 0;
  color: white;
  border: 0;
  font-size: 1.2rem;
}

footer button:focus {
  outline: none;
}
.js-footTodolist {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 320px;
  height: auto;
  color :white;
  background-color: black;
  border-radius: 1rem;
  right: 1rem;
  bottom: 3rem;
}

.js-footTodolist button {
  width: 30%;
  margin: auto;
}

.js-footTodolist header {
  display: flex;
  justify-content: space-between;
  font-size: 120%;
  margin: 1rem;
  border-bottom: white 0.05rem solid;
  /* background-color: red; */
} 

.js-footTodolist header div{
  cursor: default;
} 

.js-footTodolist header button {
  cursor: pointer;
  text-align: start;
  margin: 0;
  width: 1.5rem;
  background: 0;
  border: 0;
  color: white;
  font-size: 120%;
}

.js-footTodolist input {
  margin: 1rem;
  background: 0;
  border: 0;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.85);
}

.js-footTodolist input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.85);
}

#js-askTodo {
  height: 6rem;
}

#js-footContent {
  height: auto;
  color: rgba(255, 255, 255, 0.85);
}

#js-footContent button {
  margin-top: 1rem;
  background-color: gray;
  border: 0;
  border-radius: 2rem;
  color: white;
  height: 2rem;
}

#js-todolist {
  text-align: left;
  padding:  0 1rem 0 1rem;
  margin: 0;
}

#js-todolist li{
  cursor: default;
  list-style: none;
  text-align: left;
  margin: 0;
}

#js-todolist li button{
  display: none;
}

#js-todolist li:hover button{
  display: inline-block;
  height: auto;
  border-radius: 0.5rem;
  width: 1rem;
  margin: 0;
}

#js-todolist li:hover button:hover{
  cursor: pointer;
}

#js-todolist li input{
  margin: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.js-inputTodo {
  width: 90%;
}

#js-todoButton {
  cursor: pointer;
}
/*푸터 끝*/
#menu > a {
  color: white;
  height: 5rem;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  margin-right: 10px;
  transition: font-size 0.3s;
}
#menu > a:hover {
  font-size: 30px;
}
.hidden {
  display: none;
}
/*로그인 인풋*/
#login-form {
  text-align: center;
  font-size: 1.5rem;
  cursor: default;
  margin-top: 300px;
}
#login-form input {
  display: block;
  margin: 0 auto;
  width: 480px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
  margin-top: 0.4rem;
}
/*todo리스트 */
#todo-form {
  text-align: center;
  color: #ffffff;
}
#todo-list {
  text-align: center;
  color: #ffffff;
}
/**/
#greeting {
  text-align: center;
  color: #ffffff;
}

#weather {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
/*헤더 돋보기*/
.search span{
  color: rgb(192, 167, 167);
  margin-right:0.5rem;  
}
.search-input{
  height: 20px;
  width: 10rem;
  background: 0;
  border: 0;
  color: white;
  font-size: 120%;  
  background: url("../img/magnifying-glass\ \(1\).png") no-repeat scroll ;
  padding-left:30px;
}
.search-input:focus{
  outline: none;
  border-bottom: white solid thin;
  color: white;
}
.search-input:hover{
  border-bottom: white solid thin;
  color: white;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 25px;
    text-align: right;
  }
  #menu > a:hover {
    font-size: 30px;
  }
  #login-form input {
    width: 50%;
    font-size: 50px;
  }
  #login-form {
    width: 100%;
    font-size: 170px;

  }
  }

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 20px;
    text-align: right;
  }
  #menu > a:hover {
    font-size: 25px;
  }
  #login-form input {
    width: 50%;
  font-size: 30px;
  }
  #login-form {
  width: 100%;
  font-size: 170px;
  }
/*스타일입력*/}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 5px;
    text-align: right;
  }
  #menu > a:hover {
    font-size: 12px;
  }
  #login-form input {
    width: 50%;
  font-size: 20px;
  }
   #login-form {width: 100%;
  font-size: 70px;}/*스타일입력*/}

/* .time {
  color: #ffffff;
  font-size: 170px;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
} */