#clock {
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 170px;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
  #clock {
    width: 100%;
    font-size: 170px;

  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  #clock {
    width: 100%;
    font-size: 100px;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  #clock {
    width: 100%;
    font-size: 70px;
  }
}
