@charset "UTF-8";

/* 초기화 */
* {
    margin: 0; padding: 0;
    /* font: normal 13px 'Arial'; */
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

body, html { 
    height: 100%;
}
/*로그인폼 빼고 숨기기*/
.hidden {
    display: none;
}
/*헤더*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow: hidden;
}

#menu {
    /*플로트로 헤더 일자 만들고 패딩으로 간격*/
    float: right;
    padding: 10px;
}
#menu > a {
    color: white;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    margin-right: 10px;
    transition: font-size 0.3s;
}
#menu > a:hover {
    font-size: 30px;
}
#todo-form {
    text-align: center;
}
/*푸터*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;

}
#js-qt {
    cursor: pointer; 
}
footer button { 
    background: 0;
    color: white;
    border: 0;
    font-size: 1.2rem;
    float: left;
}

footer button:focus {
    outline: none;
}
#footer_introduce {
text-align: center;
font-size: 20px;
font-weight: bold;
color: white;
}
#weather {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 25px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
    font-size: 50px;
  }
  #login-form {
    width: 100%;
    font-size: 170px;
  }
  .search-input {
    width: 200px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 20px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
    font-size: 30px;
  }
  #login-form {
    width: 100%;
    font-size: 170px;
  }
  .search-input {
    width: 150px;
  }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 10px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
    font-size: 20px;
  }
  #login-form {
    width: 100%;
    font-size: 70px;
  }
  .search-input {
    width: 100px;
  }
}
