
/* #menu > a {
  color: white;
  height: 5rem;
  font-size: 20px;
  text-align: right;
}
.hidden {
  display: none;
} */
/*로그인 인풋*/
#login-form {
  text-align: center;
  font-size: 1.5rem;
  cursor: default;
  margin-top: 300px;
}
#login-form input {
  display: block;
  margin: 0 auto;
  width: 480px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  line-height: 120%;
  margin-top: 0.4rem;
}
/*todo리스트 */
#todo-form {
  text-align: center;
  color: #ffffff;
}
#todo-list {
  text-align: center;
  color: #ffffff;
}
/**/
#greeting {
  text-align: center;
  color: #ffffff;
}

#weather {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
/*헤더 돋보기*/
.search span{
  color: rgb(192, 167, 167);
  margin-right:0.5rem;  
}
.search-input{
  height: 20px;
  width: 10rem;
  background: 0;
  border: 0;
  color: white;
  font-size: 120%;  
  background: url("../img/magnifying-glass\ \(1\).png") no-repeat scroll ;
  padding-left:30px;
}
.search-input:focus{
  outline: none;
  border-bottom: white solid thin;
  color: white;
}
.search-input:hover{
  border-bottom: white solid thin;
  color: white;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 25px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
    font-size: 50px;
  }
  #login-form {
    width: 100%;
    font-size: 170px;

  }
  }

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 20px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
  font-size: 30px;
  }
  #login-form {
  width: 100%;
  font-size: 170px;
  }
/*스타일입력*/}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  #menu > a {
    color: white;
    height: 5rem;
    font-size: 5px;
    text-align: right;
  }
  #login-form input {
    width: 50%;
  font-size: 20px;
  }
   #login-form {width: 100%;
  font-size: 70px;}/*스타일입력*/}

/* .time {
  color: #ffffff;
  font-size: 170px;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
} */